<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Tomcat JDBC Connection Settings for sqlite3  -->
   <bean id="poolProperties_sqlite" class="org.apache.tomcat.jdbc.pool.PoolProperties">
      <property name="url" value="jdbc:sqlite:D:/develop/ide/64bit/pleiades/sqlite3/camel-test.db" />
      <property name="driverClassName" value="org.sqlite.JDBC" />
      <property name="initialSize" value="1" />
      <property name="maxActive" value="1" />
      <property name="maxIdle" value="1" />
      <property name="validationQuery" value="SELECT 1" />
   </bean>

    <!-- Tomcat JDBC Connection Settings for MYSQL -->
    <!-- <bean id="poolProperties_mysql" class="org.apache.tomcat.jdbc.pool.PoolProperties">
      <property name="url" value="jdbc:mysql://localhost:3306/testdb" />
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      <property name="username" value="root" />
      <property name="password" value="root" />
      <property name="validationQuery" value="SELECT 1" />
      <property name="maxActive" value="10" />
      <property name="initialSize" value="5" />
    </bean> -->

    <bean id="ds_sqlite" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="poolProperties" ref="poolProperties_sqlite" />
    </bean>

    <!-- <bean id="ds_mysql" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="poolProperties" ref="poolProperties_mysql" />
    </bean> -->

    <!-- spring トランザクションマネージャ -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds_sqlite"/>
    </bean>
</beans>